.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_main {
  max-width: 1300px;
  margin: auto;
  color: white;
  padding: 10px;
}

.navbar_img img {
  width: 100%;
  margin: auto;
}
.navbar_contents {
  justify-content: space-between;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 4rem;
}
.navbar_list {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}
.navbar_list p {
  font-size: 14px;
  cursor: pointer;
}
.navbar_list p:hover {
  color: #cc9e75;
}
.navbar_icons {
  display: flex;
  gap: 5px;
}
.navbar_icons span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.155);

  transition: all 0.1s ease-in-out;
}
.navbar_icons span:hover {
  background-color:#cc9e75;;
  color: black;
  transform: scale(1.2);
}
.hamburger{
    display: none;
}
.hamburger:hover{
    color: #cc9e75;;
}
@media (max-width:1024px) {
    .hamburger{
        display: block;
    }
    .navbar_list{
        position: absolute;
        left: 0;
        top:60px;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: left;
        background-color: #201A46;
        padding: 20px;
        font-size: 20px;
      opacity:0;
      z-index: 999;
       transition:0.5s ease-in-out;
}
   
    .navbar_list p{
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.132);
    }
    .navbar_list.toggled{
       opacity: 1;
    }
}
@media (max-width:768px){
    .navbar_icons{
        display: none;
    }
}